.simpleLayout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.simpleHeader {
  background-color: rgb(74, 145, 211);
}

.simpleContent {
  background-color: rgba(167, 210, 223, 0.568);
  text-align: center;
}

.simpleFooter {
  background-color: azure;
}
